/** @format */

// .inner-page .inner-banner {
//   min-height: 300px;
// }
.events__listing__section {
  padding: 80px 0 0;
  background-color: #fff;
  @media (max-width: 990px) {
    padding: 40px 0 0;
  }
  .row {
    margin: 0 -20px;
    & > div {
      padding: 0 20px;
      margin-bottom: 80px;
      @media (max-width: 990px) {
        margin-bottom: 40px;
      }
    }
  }
}
.news__listing__card {
  width: 100%;
  display: block;
  picture {
    width: 100%;
    height: auto;
    aspect-ratio: 563/203;
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .news__listing__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    @media (max-width: 990px) {
      flex-wrap: wrap;
    }
    h6 {
      font-size: 12px;
      font-weight: 300;
      color: #1e1e1e;
      line-height: 1;
      margin: 0;
      @media (max-width: 990px) {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
  h4,
  h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #1e1e1e;
    margin-bottom: 8px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}
.news__detail__section {
  padding: 40px 0;
  .news__listing__card {
    picture {
      margin-bottom: 24px;
      aspect-ratio: 1166/464;
    }
    .news__listing__card__header {
      margin-bottom: 15px;
      h6 {
        font-size: 16px;
      }
    }
    h4,
    h1 {
      font-size: 32px;
      line-height: 1.2;
      @media (max-width: 720px) {
        font-size: 24px;
      }
    }
    p {
      -webkit-line-clamp: unset;
      display: block;
      overflow: unset;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}
.inner-page .inner-banner .inner-page-title:last-child {
  // @media (min-width:1200px) {
  padding-bottom: 30rem;
  // }
  @media (max-width: 580px) {
    padding-bottom: 0;
  }
}
#GoTotop svg {
  @media (max-width: 580px) {
    width: 27px;
  }
}
.inner-page.contact-us-page .inner-banner {
  @media (max-width: 580px) {
    height: auto;
    min-height: 260px;
  }
}
.breadcrumb li a,
.breadcrumb li {
  text-transform: uppercase;
}
@media (max-width: 990px) {
  .breadcrumb li a,
  .breadcrumb li {
    font-size: 1rem;
  }
}
.faq-page .page-content .search-wrapper .icon-search {
  font-size: 3rem;
}
div[style="border: 2px solid"] {
  border: 0 !important;
}
.sitemap-content-wrapper .row {
  // width: 100%;
  & > .sf_colsOut {
    flex: 0 0 50%;
    padding: 0 15px;
    max-width: 50%;
    @media (min-width: 576px) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    @media (min-width: 992px) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
.inner-page .page-content .container.top::before {
  height: calc(100% + 75px);
}
.inner-page .page-content {
  @media (max-width: 580px) {
    margin-top: 0;
  }
}
.z-10 {
  position: relative;
  z-index: 10;
}
.explore-catalyzers {
  .swiper-slide {
    a {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        @media (max-width: 580px) {
          max-height: 100px;
        }
      }
    }
  }
}
ul.breadcrumb li {
  font-size: 14px;
  @media (max-width: 767px) {
    font-size: 1rem;
    letter-spacing: 1.17px;
  }
}
section.program-stats.active .stats-block {
  height: calc(100% - 34px);
}
.our-team strong {
  font-weight: bold;
}
.initiative-logo {
  display: flex;
  align-items: center;
  @media (max-width: 720px) {
    justify-content: center;
  }
}
header .navbar .right-content ul li .icon-search {
  @media (max-width: 720px) {
    font-size: 2.5rem;
  }
}
.search-wrapper .sfContentBlock.sf-Long-text {
  display: flex;
}
// @font-face {
//   font-family: "icomoon";
//   src: url("../fonts/icomoon.eot?6tplkc");
//   src: url("../fonts/icomoon.eot?6tplkc#iefix") format("embedded-opentype"),
//     url("../fonts/icomoon.ttf?6tplkc") format("truetype"),
//     url("../fonts/icomoon.woff?6tplkc") format("woff");
//   // url("../fonts/icomoon.svg?6tplkc#icomoon") format("svg");
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }
.search__resultspagebox {
  background-color: #fff;
  padding: 10px 15px;
  input {
    font-size: 20px;
    padding: 0 15px;
    outline: 0;
    box-shadow: none !important;
  }
}
.search__result__list {
  li {
    text-align: left;
    padding: 10px 15px;
    P {
      font-size: 20px;
      font-weight: 600;
    }
    a.readmore {
      .mt-5,
      .mb-5 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
      svg {
        margin-left: 10px;
      }
    }
  }
}
section.explore-catalyzers:last-of-type{
  padding-top: 160px;
  @media (max-width:720px) {
    padding-top: 120px;
    
  }
}