/** @format */
.events__listing__section {
  padding: 80px 0 0;
  background-color: #fff; }
  @media (max-width: 990px) {
    .events__listing__section {
      padding: 40px 0 0; } }
  .events__listing__section .row {
    margin: 0 -20px; }
    .events__listing__section .row > div {
      padding: 0 20px;
      margin-bottom: 80px; }
      @media (max-width: 990px) {
        .events__listing__section .row > div {
          margin-bottom: 40px; } }

.news__listing__card {
  width: 100%;
  display: block; }
  .news__listing__card picture {
    width: 100%;
    height: auto;
    aspect-ratio: 563/203;
    display: block;
    overflow: hidden;
    margin-bottom: 8px; }
    .news__listing__card picture img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .news__listing__card .news__listing__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px; }
    @media (max-width: 990px) {
      .news__listing__card .news__listing__card__header {
        flex-wrap: wrap; } }
    .news__listing__card .news__listing__card__header h6 {
      font-size: 12px;
      font-weight: 300;
      color: #1e1e1e;
      line-height: 1;
      margin: 0; }
      @media (max-width: 990px) {
        .news__listing__card .news__listing__card__header h6:not(:last-child) {
          margin-bottom: 5px; } }
  .news__listing__card h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #1e1e1e;
    margin-bottom: 8px; }
  .news__listing__card p {
    font-size: 16px;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden; }

.news__detail__section {
  padding: 40px 0; }
  .news__detail__section .news__listing__card picture {
    margin-bottom: 24px;
    aspect-ratio: 1166/464; }
  .news__detail__section .news__listing__card .news__listing__card__header {
    margin-bottom: 15px; }
    .news__detail__section .news__listing__card .news__listing__card__header h6 {
      font-size: 16px; }
  .news__detail__section .news__listing__card h4,
  .news__detail__section .news__listing__card h1 {
    font-size: 32px;
    line-height: 1.2; }
  .news__detail__section .news__listing__card p {
    -webkit-line-clamp: unset;
    display: block;
    overflow: unset; }
    .news__detail__section .news__listing__card p:not(:last-child) {
      margin-bottom: 25px; }

.sitemap-content-wrapper .row > .sf_colsOut {
  flex: 0 0 50%;
  padding: 0 15px;
  max-width: 50%; }
  @media (min-width: 576px) {
    .sitemap-content-wrapper .row > .sf_colsOut {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  @media (min-width: 992px) {
    .sitemap-content-wrapper .row > .sf_colsOut {
      flex: 0 0 25%;
      max-width: 25%; } }

.inner-page .page-content .container.top::before {
  height: calc(100% + 80px); }

.explore-catalyzers .swiper-slide a img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.our-team strong {
  font-weight: bold; }

.initiative-logo {
  display: flex;
  align-items: center; }
  @media (max-width: 720px) {
    .initiative-logo {
      justify-content: center; } }

@media (max-width: 720px) {
  header .navbar .right-content ul li .icon-search {
    font-size: 2.5rem; } }

.search-wrapper .sfContentBlock.sf-Long-text {
  display: flex; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?6tplkc");
  src: url("../fonts/icomoon.eot?6tplkc#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6tplkc") format("truetype"), url("../fonts/icomoon.woff?6tplkc") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
